
body
{
	font-family:monospace;
	overflow:scroll;
}#productDisplay
{
    height: 500px;
    width:900px;
    margin-left: 200px;
/*    display: inline-block;*/
    border-right: solid 1px #CCCCCC;
    border-bottom: solid 1px #CCCCCC;
    padding-left: 200px;
    padding-top: 150px;
    float:left;
}
#productExtras
{
    padding: 10px;
    width: 300px;
    /*margin-top: 20px;*/
    margin-right:300px;
    /*border-bottom: solid 1px grey;*/
}
.navbar
{
    box-shadow: 5px 2px 5px 2px #CCCCCC;
}
.navbar-container
{
    position:fixed;
    z-index:100;
    width:100%;
    background:#fff;
}
#searchBar
{
    text-align: center;
    margin-right: 600px;
    width: 500px;
    background: url("../html/search_3_50x50_1_30x30.png") left no-repeat;
    outline:0;
}
#cart{
    outline:0;
    margin-left: 10px;
}
#productName
{
    width:700px;
    margin-left: 250px;
}
#productDescription
{
	display:inline-block;
    margin-top:40px;
    margin-left: 200px;
    width:900px;
    font-size:14px;  
}
#productFeatures
{
    margin-top: 50px;
    margin-left: 200px;
    font-size:14px;    
}
#productTitle
{
	margin-left:250px;
    font-size:18px;
	
}
#featuresProd
{
	font-weight: bold;	
	font-size:18px;
	
}
#aboutProd
{
	font-weight: bold;
	font-size:18px;
}
.counterSpan
{
	margin-left:15px;
	font-size:18px;
	display: inline-block;
    vertical-align: middle;
    border:solid 1px #CCCCCC;
    height:30px;
    width:50px;
    padding-left:15px;
}

.price
{
	padding-left:28px;
	font-size:20px;
	font-weight:bold;
    /*margin-left:8px;*/
}

.textForQty
{
	padding-left:20px;
	font-size:20px;
}
#dropDownSelect
{
	width:100px;
	margin-left:60px;
	padding-left:35px;
}

#cartQuantity
{
    margin-top: -25px;
    margin-left: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ef9314;
    color: white;
    text-align: center;

}