
body{
font-family: monospace;
overflow:scroll;
}
.navbar
{
    box-shadow: 5px 2px 5px 2px grey;
}
.card
{
    margin-left: 200px;
    width: 500px;
    box-shadow: 2px 2px 2px 1px grey;
}
#company-logo
{
    font-size: x-large;
}
#shipFormState
{
    width: 200px;
}
#shipFormName
{
    width: 200px;
}
#shipFormStreetAddress
{
    width: 200px;
}
#shipFormApartmentNumber
{
    width: 200px;
}
#shipFormCity
{
    width: 200px;
}
#shipFormZipcode
{
    width: 200px;
}
#shipFormPhoneNumber
{
    width: 200px;
}
#proceedToBilling
{
    float:right;
    width:100px;
}
#cardDetailsBtn
{
	width:100px;
    float:right;
}
#billingCardHolderName
{
    width: 200px;
}
#billingCardNumber
{
    width: 200px;
}
#billingCardMonth
{
    width: 200px;
}
#billingCardYear
{
    width: 200px;
}
#billingCardCVV
{
    width: 200px;
}
#orderSummary
{
    display: inline-block;
    float: right;
}
#submitOrder
{
    margin-left: 10em;

}
#billingAddressBtn
{
	float:right;
}
#addressTitleBar
{
	outline:0;
	margin-left: 200px;
    width: 500px;
    height:50px;
    padding:20px;
    box-shadow: 2px 2px 2px 1px grey;
}
#toggleDivInfo
{
	cursor:pointer;
	width:20px;
	height:20px;
    float:right;
	margin-bottom:20px;
}
#cardInfo
{
	outline:0;
	margin-left: 200px;
    width: 500px;
    height:50px;
    padding:20px;
    box-shadow: 2px 2px 2px 1px grey;
}
span
{
	outline:0;
}
#titleShipping
{
	font-size:12px;
	text-align:center;
	font-weight:bold;
	margin-left:150px;
}
#titlePayment
{
	font-size:12px;
	text-align:center;
	font-weight:bold;
	margin-left:150px;	
}
#titleBilling
{
	font-size:12px;
	text-align:center;
	font-weight:bold;
	margin-left:150px;		
}